@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="p-5"></div>
<h1>User Index</h1>
<div>
    @*href="~/account/logout"*@
    <a asp-controller="account" asp-action="logout"
       class="btn btn-danger">خروج</a>
</div>

