@* 
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> *@
<footer>
    <h4>کلیه حقوق این سایت متعلق به شرکت فردا تجارت شمال (شیپور) می باشد</h4>
    <div class="social">
        @* <a><span class="fa fa-linkedin fa-lg" ></span></a> *@
        @* <a><span class="fa fa-telegram fa-lg"></span></a> *@
        <a><span class="fa fa-whatsapp fa-lg"></span></a>
        @* <a><span class="fa fa-wechat fa-lg"></span></a> *@
        @* <a><span class="fa fa-apple fa-lg"></span></a> *@
        @* <a><span class="fa fa-windows fa-lg"></span></a> *@
        @* <a><span class="fa fa-play fa-lg"></span></a> *@
        @* <a><span class="fa fa-bluetooth fa-lg"></span></a> *@
        @* <a><span class="fa fa-wifi fa-lg"></span></a> *@
        @* <a><span class="fa fa-snapchat fa-lg"></span></a> *@
        @* <a><span class="fab fa-x-twitter fa-lg"></span></a> *@
        <a><span class="fa fa-instagram fa-lg"></span></a>
        <a><span class="fa fa-phone fa-lg"></span></a>
        <br />
        <a> 021-2255</a>

    </div>
</footer>
