<header>
    <img class="main-logo" src="~/images/site/sheypoor-Logo.png" alt="شیپور">
    <img class="mobile-logo" src="~/images/site/sheypoor-mini.jpg" alt="شیپور">

    <!-- search -->
    <div class="search">
        <input type="text" placeholder="جستجو در شیپور">
        <a>همه ایران <span class="fa fa-map-marker"></span></a>
    </div>

    <!-- menu -->
    <div class="menu">
        <a><span class="fa fa-heart-o"></span> ذخیره ها</a>
        <a><span class="fa fa-comment-o"></span> پیام ها</a>
        <a><span class="fa fa-user-o"></span> حساب من</a>

        <a class="btn-submit">
            <span class="fa fa-plus"></span>
            <span class="title">ثبت آگهی رایگان </span>
        </a>
    </div>


    <!-- <hr> -->
</header>
