<!-- footer -->
<footer class="bg-primary row m-auto mt-5">
    <div class="text-white col-md-8 col-12 p-1 pt-3 p-2">
        <h4 class="fw-bold">فروشگاه آنلاین</h4>
        <hr>
        <h6 class="fw-bold">نشانی : ایران گیلان رودسر خیابان اول کوچه آخر</h6>
        <h6 class="persian-number">شماره های تماس : 09112223344 0132443333</h6>
    </div>
    <!-- ----------------------------------------------------- -->
    <div class="text-center col-md-4 col-12 pt-4">
        <a><span class="bi bi-telegram fs-1 text-white m-1"></span></a>
        <a><span class="bi bi-instagram fs-1 text-white m-1"></span></a>
        <a><span class="bi bi-whatsapp fs-1 text-white m-1"></span></a>
        <a><span class="bi bi-twitter fs-1 text-white m-1"></span></a>
        <a><span class="bi bi-youtube fs-1 text-white m-1"></span></a>
    </div>
</footer>