@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@* groups *@
<partial name="partialGroups" />

<h3>
    <img src="~/images/site/sheypoor-mini.jpg" width="32" alt="شیپورچی" style="float: right; margin-left: 5px;">
    آگهی های جدید از همه‌ی ایران

</h3>

@* productsList *@
<partial name="partialProducts" />
