@model IEnumerable<Group>

<div class="horizental-groups">
    <!-- groups -->
    <div class="groups">

        @foreach (var item in Model)
        {
            <div class="bg-group">
                <div>
                    <img src="~/images/groups/@item.Img" />
                </div>
                <span>@item.GroupName</span>
            </div>
        }

    </div>
</div>
