<div class="grid">
    <div class="grid-item">
        <a class="like"><span class="fa fa-heart fa-lg"></span></a>
        <img src="~/images/products/pic1.webp" alt="آگهی شماره یک">
        <div class="grid-info">
            <h4>خودروی سدان بنزینی</h4>
            <h4>550,000,000 تومان</h4>
            <h5>گیلان، رودسر، انتهای خیابان</h5>
            <h5>لحظاتی پیش</h5>
        </div>
    </div>
   
</div>